<form action="/customer/update/<%= customer.id %>" method="POST" class="form-signin">
	<h2> Hey, you're editing a customer... </h2>

	<input value="<%= customer.name %>" name="name" type="text" class="form-control"/>
	<input value="<%= customer.email %>" name="email" type="text" class="form-control"/>
	<textarea rows="5" name="notes" class="form-control"><%= customer.nicknames %></textarea>
	<% if (session.User.admin) { %>
	<input value="<%= customer.punches %>" name="punches" type="text" class="form-control"/>
	<% } %>
	<input type="submit" value="Submit Changes" class="btn btn-lg btn-primary btn-block"/>
	<input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>