<div class="container">
	<h3>Customer Administration</h3>
	<a href="/customer/new" class="btn btn-sm btn-primary">Add New Customer</a>
	<table class='table'>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Sharpenings Remaining</th>
			<th></th>
			<th></th>
			<th></th>
			<% if (session.User.admin) { %>
			<th></th>
			<% } %>
		</tr>
		

		<% _.each(customers, function(customer) { %>
		<tr data-id="<%= customer.id %>" data-model="customer">
			<td><%= customer.name %></td>
			<td><%= customer.email %></td>
			<td><%= customer.punches %></td>
			<td><a href="/customer/show/<%= customer.id %>" class="btn btn-sm btn-primary">View Details</a></td>
			<td><a href="/purchase/new/<%= customer.id %>" class="btn btn-sm btn-primary">Add Purchase</a></td>
			<td><a href="/customer/edit/<%= customer.id %>" class="btn btn-sm btn-warning">Edit Details</a></td>
			<% if (session.User.admin) { %>
			<td><form action="/customer/destroy/<%= customer.id %>" method="POST">
				<input type="hidden" name="_method" value="delete"/>
				<input type="submit" class="btn btn-sm btn-danger" value="Delete"/>
				<input type="hidden" name="_csrf" value="<%= _csrf %>" />
			</form></td>
			<% } %>
		</tr> 

		<% }) %>
	</table>
</div>
