<form action="/customer/create" method="POST" id="create-customer-form" class="form-signin">
	<h2 class="form-signin-heading">Add New Customer</h2>

	<% if(flash && flash.err) { %>
		<ul class="alert alert-success">
	<% Object.keys(flash.err).forEach(function(error) { %>
		<li><%- JSON.stringify(flash.err[error]) %></li>
	<% }) %>
	</ul>
	<% } %>

	
	<div class="control-group">
	<input type="text" class="form-control" placeholder="customer name" name="name">
	</div>
	
	<div class="control-group">
	<input type="text" class="form-control" placeholder="email address (optional)" name="email">
	</div>

	<div class="control-group">
	<textarea rows="5" name="notes" class="form-control" placeholder="add additional customer notes like nicknames or descriptions to differentiate between customers with similar names (optional)"></textarea>
	</div>

	<input type="submit" class="btn btn-lg btn-primary btn-block" value="Create Customer"/>
	<input type="hidden" name="punches" value="12" />
	<input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>