<div class='container'>
	<h1><%= customer.name %> </h1>
	<hr>
	<h3>contact: <%= customer.email %> </h3>
	<p>additonal notes: <%= customer.nicknames %></p>
	<p>remaining punches: <%= customer.punches %> </p>
	
	<a class="btn btn-medium btn-primary" href="/customer/edit/<%= customer.id %>">Edit</a>
	
	<hr>
	<h2>Purchases</h2>
	<a class="btn btn-medium btn-primary" href="/purchase/new/<%= customer.id %>">Add Purchase</a>
	<table class='table'>
		<tr>
			<th>Notes</th>
			<th>Transaction Type</th>
			<th>Date</th>
			<% if (session.User.admin) { %>
			<th></th>
			<% } %>
		</tr>
		

		<% _.each(customer.purchases, function(purchase) { %>
		<tr data-id="<%= purchase.id %>" data-model="purchase">
			<td><%= purchase.notes %></td>
			<td><%= purchase.purchase_type %></td>
			<td class="purchase-date"><%= purchase.createdAt %></td>
			<% if (session.User.admin) { %>
			<td><form action="/purchase/destroy/<%= purchase.id %>" method="POST">
				<input type="hidden" name="_method" value="delete"/>
				<input type="submit" class="btn btn-sm btn-danger" value="Delete"/>
				<input type="hidden" name="customer" value="<%= customer.id %>" />
				<input type="hidden" name="_csrf" value="<%= _csrf %>" />
			</form></td>
			<% } %>
		</tr> 

		<% }) %>
	</table>
	
</div>