<form id="add-user" method="post" action="/user">
	<label for="user_full_name">
		<span>Full Name</span>
		<input type="text" id="user_full_name" name="user_full_name" />
	</label>
	<label for="username">
		<span>Username</span>
		<input type="text" id="username" name="username" />
	</label>
	<label for="email">
		<span>Email</span>
		<input type="text" id="email" name="email" />
	</label>
	<input type="submit" value="Add User" />
</form>