<form action="/session/create" method="POST" class="form-signin">
	<h2 class="form-signin-heading">Sign In Mofo</h2>
	<input type="text" class="form-control" placeholder="Email address" name="email">
	<input type="password" class="form-control" placeholder="Password" name="password">
	<input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign-in"/>
	<input type="hidden" name="_csrf" value="<%= _csrf %>" />	
</form>