<form action="/purchase/create" method="POST" id="create-purchase-form" class="form-signin">
	<h2 class="form-signin-heading">Add Transaction</h2>

	<% if(flash && flash.err) { %>
		<ul class="alert alert-success">
	<% Object.keys(flash.err).forEach(function(error) { %>
		<li><%- JSON.stringify(flash.err[error]) %></li>
	<% }) %>
	</ul>
	<% } %>

	
	<div class="control-group">
	<textarea rows="5" name="notes" class="form-control" placeholder="add additional purchase notes (optional)"></textarea>
	</div>
	
	<div class="control-group">
	<select name="purchase_type" class="form-control">
		<option value="sharpen">Sharpen Skates</option>
		<option value="reload">Reload Punch Card</option>
	</select>
	</div>

	<input type="submit" class="btn btn-lg btn-primary btn-block" value="Create Transaction"/>
	<input type="hidden" name="customer" value="<%= customerID %>" />
	<input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>